
    h1 {
        color: red;
        background-color: pink;
    }
    /* rgb color */
    h3 {
        color: rgb(255, 0, 0);
    }
      
    
    h2 {
        color:orange;
    }
     
  p {
   color:white;
   background-color: black;
  }
   button {
    background-color: blue;
    color: white;
   } 
   